* {
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px !important;
  color: #000 !important;
}

ul,
ol {
  padding-left: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

a:hover {
  color: #ff3333;
}

li {
  list-style: none;
}

p {
  margin-bottom: 0;
  font-weight: 400;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

button {
  border: none;
}

img {
  width: 100%;
}

.bg-light {
  background-color: transparent !important;
}

.main-btn {
  color: #fff;
  background-color: #ff3333;
  border-color: #ff3333;
  line-height: 1.1;
  font-size: 16px;
  padding: 10px 30px;
  font-weight: 500;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 0;
}

.main-btn:hover {
  background-color: #fff;
  color: #2c343b;
  border-color: #fff;
}

.main-btn:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  outline: none !important;
  background-color: #ff3333;
  border-color: #ff3333;
  color: #fff;
}

.main-btn-2 {
  background-color: transparent;
  border-color: #fff;
}

.main-btn-2:hover {
  color: #ff3333;
  background-color: transparent;
  border-color: #ff3333;
}

.p-text-white {
  color: #fff;
}

.p-text-black {
  color: #4c4f57;
}

.ptb-70 {
  padding-top: 70px;
  padding-bottom: 70px;
}

.pt-70 {
  padding-top: 70px;
}

.mb-20 {
  margin-bottom: 20px !important;
}

.mb-30 {
  margin-bottom: 30px !important;
}

.mb-50 {
  margin-bottom: 50px !important;
}

.ml-30 {
  margin-left: 30px !important;
}

.main-color {
  color: #0000008c !important;
}

.h-color {
  color: #0c1325 !important;
}

.white {
  color: #fff !important;
}

.section-bg {
  background-color: #2c343b !important;
}

.gray-clr {
  color: #5c5c5c;
}

.header-section {
  position: fixed;
  z-index: 100;
  width: 100%;
  background: #fff;
  top: 0;
  left: 0;
}

@media (max-width: 991px) {
  .header-section {
    padding: 18px 0;
  }
}

.hdr-nav {
  padding: 0;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: #ff3333;
}

.logo-img {
  width: 180px;
}

.hdr-logo {
  padding: 0;
}

.nav-link {
  padding: 30px 0;
  text-transform: uppercase;
  font-size: 15px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav-link:hover {
  color: #ff3333 !important;
}

@media (max-width: 991px) {
  .nav-link {
    padding: 15px 0;
  }
}

.nav-link .drp-dwn-btn {
  font-size: 10px;
  margin-left: 2px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.nav-item {
  margin-left: 25px;
}

@media (max-width: 991px) {
  .nav-item {
    border-bottom: 1px solid #e0e0e0;
  }
  .nav-item:last-child {
    border-bottom: none;
  }
}

.nav-item:hover .nav-link {
  color: #ff3333;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (max-width: 991px) {
  .nav-item:hover .nav-link {
    color: #0000008c;
  }
}

.nav-item.dropdown:hover .dropdown-menu {
  opacity: 1;
  visibility: visible;
  top: 83px;
}

.nav-item.dropdown:hover .drp-dwn-btn {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

@media (max-width: 991px) {
  .dropdown:hover .drp-dwn-btn {
    -webkit-transform: rotate(0deg) !important;
            transform: rotate(0deg) !important;
  }
}

@media (max-width: 991px) {
  .nav-link.show .drp-dwn-btn {
    -webkit-transform: rotate(-180deg) !important;
            transform: rotate(-180deg) !important;
  }
}

.dropdown-menu {
  top: 110px;
  display: block;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 0;
  border: 1px solid #d7d7d7 !important;
  overflow: hidden;
  width: 250px;
}

@media (max-width: 991px) {
  .dropdown-menu {
    width: 100%;
    display: none;
    opacity: 1;
    visibility: visible;
    top: 0;
    border: none !important;
    margin: 0 0 10px 0;
  }
}

@media (max-width: 991px) {
  .dropdown-menu.show {
    display: block;
  }
}

@media (max-width: 991px) {
  .nav-link:hover {
    color: #ff3333 !important;
  }
}

.dropdown-item {
  position: relative;
  left: -10px;
  color: #0000008c !important;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  padding: 12px 12px 12px 3px !important;
  border-radius: 0 !important;
  transition: 0.4s;
}

@media (max-width: 991px) {
  .dropdown-item {
    left: 0;
    padding: 12px 12px 12px 8px !important;
  }
}

.dropdown-item:hover {
  left: 6px;
}

.dropdown-item .child-drp-dwn-btn {
  margin-right: 10px;
  font-size: 12px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.dropdown-item:focus,
.dropdown-item:hover {
  color: #ff3333 !important;
  background-color: #fff !important;
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-toggler .navbar-toggler-icon {
  width: 45px;
  height: 40px;
}

.banner {
  background-image: url(../images/banner.jpg);
  position: relative;
  padding: 280px 0 180px 0;
  z-index: 1;
}

.banner::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  background: #2c343b;
  z-index: -1;
}

.banner-title {
  font-weight: 600;
  margin-bottom: 30px;
  font-size: 60px;
}

.banner-text {
  margin-bottom: 30px;
}

.section-hdr {
  margin-bottom: 50px;
}

.section-title {
  color: #000;
  font-weight: 600;
  margin-bottom: 25px;
}

.service-item {
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.19);
  padding: 35px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-bottom: 30px;
}

.service-item:hover {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.22);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.22);
}

.service-icon-logo {
  background-color: #ff3333;
  color: #fff;
  width: 50px;
  height: 50px;
  font-size: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-title {
  font-size: 20px;
  color: #000;
  font-weight: 600;
  margin: 18px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.service-title:hover {
  color: #ff3333;
}

.service-item-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service-item-2 .service-icon {
  margin-right: 15px;
}

.service-item-2 .service-title {
  margin: 0;
}

.service-item-2 .p-text-black {
  margin-top: 20px;
}

.service-item-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.service-item-3 .service-icon {
  margin-right: 15px;
}

.service-item-3 .service-title {
  margin: 0;
}

.service-item-3 .service-details {
  text-align: center;
  margin-top: 20px;
}

.accordion {
  margin-top: 60px;
}

.accordion-button:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.accordion-item {
  border-radius: 0 !important;
  margin-bottom: 20px;
  border: 1px solid #d7d7d7 !important;
}

.accordion-button {
  font-size: 20px;
  background-color: #2c343b;
  color: #fff;
}

.accordion-plus {
  position: relative;
}

.accordion-plus::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 60px;
  height: 100%;
  background-color: #ff3333;
  border: 1px solid #ff3333;
}

.accordion-button:not(.collapsed) {
  color: #fff;
  background-color: #2c343b;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 1px solid #d7d7d7 !important;
}

.accordion-body {
  color: #fff;
  background-color: #2c343b;
}

.accordion-button::after {
  background-image: url("../images/plus.png") !important;
  z-index: 1;
}

.accordion-button:not(.collapsed)::after {
  background-image: url("../images/minus.png") !important;
}

.service-image {
  width: 100%;
}

.about-item .service-title {
  margin-top: 0;
}

.team-all {
  margin: 30px 0;
}

.team-profile {
  position: relative;
}

.team-profile .team-member-details {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  background-color: rgba(44, 52, 59, 0.75);
}

@media (max-width: 991px) {
  .team-profile .team-member-details {
    padding: 10px 15px;
  }
}

@media (max-width: 768px) {
  .team-profile {
    margin-bottom: 40px;
  }
}

.team-img {
  position: relative;
  width: 100%;
}

@media (max-width: 768px) {
  .team-img {
    height: 400px;
  }
}

.team-member-name {
  color: #fff;
  margin: 8px 0;
}

@media (max-width: 991px) {
  .team-member-name {
    margin: 0 0 5px 0;
  }
}

.team-details {
  color: #c3c3c3;
}

.carousel-dot {
  margin-right: 10px;
  font-size: 13px;
  color: #fff;
}

.carousel-dot:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.register-section {
  position: relative;
  background-image: url(../images/register-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  z-index: 1;
}

.register-section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.7;
  background: #2c343b;
  z-index: -1;
}

.register-section .section-title {
  margin-bottom: 50px;
}

.register-section .main-btn {
  margin-right: 20px;
}

.client-section .section-title {
  margin-bottom: 50px;
}

.client-review-wrap {
  padding: 35px;
}

.client-review-wrap .review-content-2 {
  display: none;
}

.review-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.clinet-img {
  width: 60px;
  height: 60px;
}

.review-content {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.review-content-2 {
  margin-top: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.review-name {
  font-size: 18px;
  margin: 0;
}

.review-date {
  color: #8e939e;
  font-size: 12px;
}

.rating-icon {
  color: #ffc107;
  margin-right: 3px;
}

.client-review-text {
  margin-top: 25px;
}

.client-review-wrap-2 .client-review-all {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.client-review-wrap-2 .review-content {
  margin: 0 0 0 20px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.client-review-wrap-3 .review-content {
  display: none;
}

.client-review-wrap-3 .review-content-2 {
  display: block;
}

.pricing-item {
  margin-top: 40px;
  margin-bottom: 40px;
}

@media (max-width: 991px) {
  .pricing-item {
    margin-bottom: 0;
  }
}

.pricing-box {
  padding: 30px;
  text-align: center;
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.22);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.22);
  margin-bottom: 40px;
}

.price-dollar {
  margin-bottom: 15px;
}

.price-btn {
  width: 100%;
  padding: 12px 30px;
  margin: 20px 0;
  background-color: #2c343b;
  border-color: #2c343b;
}

.price-btn:hover {
  background-color: #2c343b;
  border-color: #2c343b;
  color: #fff;
}

.price-btn-2 {
  margin: 20px 0;
  background-color: #2c343b;
  border-color: #2c343b;
}

.price-btn-2:hover {
  background-color: #ff3333;
  border-color: #ff3333;
  color: #fff;
}

.price-content {
  text-align: left;
  padding: 0 55px;
}

@media (max-width: 400px) {
  .price-content {
    padding: 0 45px;
  }
}

.price-content-list {
  font-weight: 600;
  margin-bottom: 10px;
}

.pricing-item [class*="col-"]:nth-of-type(3n + 2) .price-dollar {
  color: #fff;
}

.pricing-item [class*="col-"]:nth-of-type(3n + 2) .pricing-box {
  background-color: #2c343b;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 991px) {
  .pricing-item [class*="col-"]:nth-of-type(3n + 2) .pricing-box {
    -webkit-transform: scale(1) !important;
            transform: scale(1) !important;
  }
}

.pricing-item [class*="col-"]:nth-of-type(3n + 2) .price-content-list {
  color: #fff;
}

.pricing-item [class*="col-"]:nth-of-type(3n + 2) .price-btn {
  background-color: #fff;
  color: #000;
  border-color: #fff;
}

.pricing-item [class*="col-"]:nth-of-type(3n + 2) .gray-clr {
  color: #fff !important;
  font-weight: 500 !important;
}

.pricing-item [class*="col-"]:nth-of-type(3n + 2) .price-btn-2 {
  background-color: #fff;
  color: #000;
  border-color: #fff;
}

.pricing-item [class*="col-"]:nth-of-type(3n + 2) .price-btn-2:hover {
  background-color: #ff3333;
  color: #fff;
  border-color: #ff3333;
}

.pricing-item [class*="col-"]:nth-of-type(3n + 2) .price-btn {
  background-color: #fff;
  color: #000;
}

.contact-form {
  margin-left: 100px;
  padding: 55px;
  background-color: #fff;
}

@media (max-width: 991px) {
  .contact-form {
    margin: 60px 0 0 0;
  }
}

@media (max-width: 450px) {
  .contact-form {
    padding: 40px 30px;
  }
}

.contact-form-input {
  font-size: 15px;
  width: 100%;
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #a1a1a1;
}

.contact-form-input:focus {
  outline: none;
  border: 1px solid #ff3333;
}

.submit-btn:hover {
  background-color: #2c343b;
  color: #fff;
  border-color: #2c343b;
}

.counter-section {
  background-image: url(../images/counter-bg.jpg) !important;
}

.counter-section::before {
  opacity: 0.4;
}

.counter-item {
  text-align: center;
}

@media (max-width: 991px) {
  .counter-item {
    margin-bottom: 50px;
  }
}

.count-up-number {
  color: #fff;
  font-size: 55px;
}

.count-up-title {
  position: relative;
  padding: 15px 0;
  color: #fff;
  font-size: 20px;
}

.count-up-title::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -5px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 3px;
  width: 70%;
  background-color: #ff3333;
}

.blog-hdr-title {
  margin-bottom: 50px;
}

.blog-post {
  position: relative;
  -webkit-box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.19);
  overflow: hidden;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.blog-post:hover {
  -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.22);
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.22);
}

.blog-post:hover .blog-img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 991px) {
  .blog-post {
    margin-bottom: 50px;
  }
}

.blog-img {
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.blog-title {
  margin: 0;
}

.blog-content {
  padding: 25px;
  background: #fff;
  position: relative;
  z-index: 1;
}

.blog-post-time {
  position: absolute;
  left: 15px;
  top: 15px;
  padding: 5px 10px;
  background: #ff3333;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
}

.footer-logo {
  width: 200px;
}

.contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  .contact-details {
    margin-bottom: 20px;
  }
}

.details-icon i {
  color: #ff3333;
  font-size: 30px;
  margin-right: 20px;
}

.details-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.details-info-name {
  color: #acb0bb;
}

.details-info-contact {
  color: #fff;
}

.footer-top {
  padding-bottom: 50px;
  margin-bottom: 40px;
  border-bottom: 1px solid #615e5e;
}

@media (max-width: 991px) {
  .footer-top {
    padding-bottom: 25px;
  }
}

.footer-item {
  margin-bottom: 30px;
}

.footer-item-title {
  font-size: 20px;
  color: #fff;
  font-weight: 600;
  margin-bottom: 15px;
}

.footer-item-details {
  color: #acb0bb;
}

.footer-item-list {
  color: #acb0bb;
  margin-bottom: 10px;
}

.footer-item-list:hover i {
  margin-right: 5px;
}

.footer-item-list i {
  font-size: 10px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer-news {
  color: #fff;
  font-weight: 600;
}

.footer-news-time {
  color: #acb0bb;
  font-size: 12px;
  margin-top: 5px;
}

.footer-news-list {
  margin-bottom: 15px;
}

.footer-email-input {
  background-color: transparent !important;
  color: #fff !important;
  margin-bottom: 0;
}

.footer-form {
  position: relative;
  margin-bottom: 20px;
}

.footer-form .email-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #fff;
}

.footer-copyright {
  padding: 60px 0 25px 0;
}

@media (max-width: 767px) {
  .footer-copyright {
    padding: 30px 0 25px 0;
  }
}

.copyright {
  color: #acb0bb;
  font-size: 13px;
}

@media (max-width: 767px) {
  .copyright {
    text-align: center;
  }
}

@media (max-width: 400px) {
  .copyright {
    font-size: 12px;
  }
}

.footer-privacy {
  color: #acb0bb;
}

.footer-social-link {
  margin-right: 15px;
  color: #acb0bb;
}

.footer-social-1 {
  display: none !important;
  margin-top: 30px;
}

@media (max-width: 767px) {
  .footer-social-1 {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (max-width: 767px) {
  .footer-social-2 {
    display: none !important;
  }
}
/*# sourceMappingURL=style.css.map */