.main-color {
  color: $main-color !important;
}
.h-color {
  color: $h-color !important;
}
.white {
  color: $white !important;
}
.section-bg {
  background-color: $section-bg-2 !important;
}
.gray-clr {
  color: #5c5c5c;
}
